[submodule "submodule-deps/sick_scan_xd"]
	path = submodule-deps/sick_scan_xd
	url = https://github.com/SICKAG/sick_scan_xd
[submodule "submodule-deps/allwpilib"]
	path = submodule-deps/allwpilib
	url = https://github.com/wpilibsuite/allwpilib
[submodule "submodule-deps/protobuf"]
	path = submodule-deps/protobuf
	url = https://github.com/protocolbuffers/protobuf
